body {
    font-family: Verdana;
    background-color: white;
    color: black;
    min-height: 120vh;
    margin: 0px;
}
header {
    background-color: #a3a3a3;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    color: white;
    max-height: 220px;
    border-radius: 0px 0px 0px 0px;
}
h1 {
    margin: 10px;
}
.h-dark-mode {
    color: black;
}
.b-dark-mode {
    background-color: black;
    color: pink;
}
tr, td {
    border: 1px solid gray;
    width: 50px;
    height:50px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
table {
    position: absolute;
    border-collapse: collapse;
    margin: 5px;
    margin-top: 50px;
    box-shadow: 7px 10px 20px lightblue;
}
row2 {
    border-bottom: 1px solid black;
}
.toFill {
    cursor: pointer;
}
.fixed {
    cursor: default;
}
#play {
    margin-left: 100px;
}
#difficulty {
    margin: 11px;
}
button {
    margin: 10px;
    position: absolute;
}
.toggle {
    position : absolute ;
    width : 40px;
    height : 20px;
    background-color: red;
    border-radius: 30px;
    margin: 5px;
    margin-left: 25px;
}           
.toggle:after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    top: 1px; 
    left: 1px;
    transition:  all 0.5s;
}                 
.checkbox:checked + .toggle::after {
    left : 21px; 
}          
.checkbox:checked + .toggle {
    background-color: green;
}           
.checkbox { 
    display : none;
}
.sidebar {
  margin-top: 55px;
  position: absolute;
  width: 150px;
  min-height: 450px;
  left: 10px;
  background: #cdcdcd73;
  overflow-x: hidden;
  padding: 8px 0;
  border-radius: 10px;
}
.sudokuDiv {
    margin-left: 200px;
}
.sidebarWords { 
    display: inline-block;
    margin: 5px;
    width: 70px;
}
#countup {
    margin-left: 208px;
    margin-top: 25px;
    position: absolute;
}
#explosion {
    top: 0;
}